* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgba(158, 140, 229, 0.7); /* Add a semi-transparent background */
    color: #fff;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: space-between; /* Create space between logo, nav, and search bar */
    padding: 10px 20px; /* Add padding on the sides */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url('../Website/image/background.jpg'); /* Set the background image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-attachment: fixed; /* Fixed background */
}

.nav-links {
    display: flex;
    gap: 350px; /* Add space between nav items */
    align-items: center; /* Center horizontally */
    width: 100%;
    top: 0%;
}

.nav-links a {
    color: #0a0909;
    text-decoration: none;
    margin: 0;
    font-weight: bold;
    font-size: x-large;
}

.logo {
    width: 100px; /* Adjust the size as needed */
    height: auto;
}

.form {
    margin: 30vh auto;
    width: 400px;
    border-radius: 5px;
    background-color: white;
    /* height:fit-content;  */
    padding: 5px 10px;
    text-align: center;
}

label {
    display: block;
    font-weight: bolder;
    margin: 5px 0px;
}

input {
    width: 100%;
    padding: 8px 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

#submit-btn {
    border: none;
    background-color: blueviolet;
    width: 100%;
    padding: 10px 8px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    cursor: pointer;
    margin: 9px 0px;
}

p {
    font-size: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}

a {
    text-decoration: none;
    font-weight: bolder;
}







